<div class="container mt-3" id="product_type">
  <h1>Product Types</h1>
  <% if @product_types.count < 10 %>
    <br><br>
  <% end %>
  <div class="d-flex justify-content-end">
    <%= paginate @product_types %>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th style="width: 30%">Product Type Name</th>
        <th>Products in Product Type</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @product_types.each do |product_type| %>
        <tr>
          <td>
            <%= product_type.product_type_name %>
          </td>
          <td>
            <%= product_type.products.count %>
          </td>
          <td>
            <%= link_to "Show Products", product_type, class: "btn btn-outline-primary" %>
          </td>
          <td>
            <%= link_to "Edit", edit_product_type_path(product_type), class: "btn btn-outline-success" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to "New product type", new_product_type_path, class: "btn btn-outline-primary" %>
</div>


