<div class="container mt-3">

  <h2 class="mb-4 text-center">Sign up / Register</h2>

  <div class="d-flex align-items-center justify-content-center">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <!-- Email input -->
      <div class="form-outline mb-4">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", style: "width: 470px;" %>
      </div>

      <!-- Password input -->
      <div class="form-outline mb-4">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password", class: "form-control", style: "width: 470px;" %>
      </div>

      <!-- Re-confirm Password input -->
      <div class="form-outline mb-4">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", style: "width: 470px;" %>
      </div>

      <!-- Submit button -->
      <div class="actions">
        <%= f.submit "Sign up", class: "btn btn-primary btn-block mb-4", style: "width: 470px;" %>
      </div>

      <!-- Login buttons -->
      <div class="form-outline mb-4">
        <!-- Login link -->
        <p>Already have an account? <%= render "devise/shared/links" %></p>
      </div>
    <% end %>
  </div>
</div>
