<% order_detail = @order_summary.first %>
<p><strong>Order ID: </strong><%= order_detail.order_id %></p>
<p><strong>Order Status: </strong><%= order_detail.order.order_status.name %></p>
<table class="table table-hover table-bordered table-sm">
  <thead>
    <th>Item name</th>
    <th>Quantity</th>
    <th>Price (CA$)</th>
  </thead>
  <% @order_summary.each do |d| %>
  <tbody>
    <td><%= d.item_name %></td>
    <td><%= d.order_quantity %></td>
    <td><%= d.order_price / 100 %></td>
  </tbody>
  <% end %>
</table>
<p>Grand Total: CA$<%= @order_summary.sum { |d| d.order_price / 100 } %></p>

<p><%= link_to "View Orders", orders_index_path, class: "btn btn-outline-primary" %></p>