<% order_detail = @order_summary.first %>
<p><strong>Order ID: </strong><%= order_detail.order_id %></p>
<p><strong>Order Status: </strong><%= order_detail.order.order_status.name.capitalize %></p>
<div class="table-responsive">
  <table class="table table-hover table-striped table-bordered table-sm">
    <thead>
      <tr>
        <th style="width: 50%">Item Description</th>
        <th>Quantity</th>
        <th>Unit Price (CA$)</th>
        <th>Item Total (CA$)</th>
      </tr>
    </thead>
    <tbody>
      <% @order_summary.each do |d| %>
        <tr>
          <td><%= d.item_name %></td>
          <td><%= d.order_quantity %></td>
          <td>$ <%= format('%.2f', d.order_price.to_f / 100) %></td>
          <td>$ <%= format('%.2f', d.order_price.to_f * d.order_quantity / 100) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<p><strong>Grand Total: CA$ <%= '%.2f' % (@order_summary.sum { |d| d.order_price.to_f * d.order_quantity} / 100) %></strong></p>

<p><%= link_to "View Orders", orders_index_path, class: "btn btn-outline-primary" %></p>