<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet">

<div class="container mt-3">
  <h1 class="text-center">Welcome to RRC Cosme! 💄</h1>
  <h2 class="text-center">🛍 Check out the Best Sellers of the week! 🛒</h2>
  <div class="row row-cols-3 g-4 mt-3">
    <% @products.each do |product| %>
      <div class="col">
        <div class="card border-0" style="width: 20rem; height: 45rem;">
          <%= link_to product do %>
            <img src="<%= product.image_link %>" class="card-img-top" alt="card">
          <% end %>
          <div class="card-body">
            <h5 class="card-title"><%= product.name %></h5>
            <p>
              <%= render partial: 'layouts/components/ratingstar', locals: { product: product } %>
              <strong>CA$:</strong>
              <%= product.price.to_f / 100 %>
            </p>
            <p class="card-text"><%= product.description.truncate(100, separator: ' ', omission: ' ...') %></p>

            <div class="row">
              <div class="col-md-6">
                <%= link_to "View Product", product, class: "btn btn-outline-primary mb-1", style: "width: 127px;" %>
              </div>
              <div class="col-md-6">
                <%= form_with url:carts_path, method: :post do %>
                  <!--pass id and quantity (default as 1) to shopping cart-->
                  <%= hidden_field_tag(:id, product.id) %>
                  <%= hidden_field_tag(:quantity, 1) %>
                  <%= button_tag '✚ Add to Cart', class: "btn btn-outline-secondary" %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
