<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" id="bootstrap-css integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!------ Dropdox list search box ---------->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select3.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select3.min.js"></script>

    <div class="container">
      <div class="row">
          <form class="col-md-3">
              <label>Select</label>
              <select class="form-control select2">
                <option> </option>
                <option>Car</option>
                <option>Bike</option>
                <option>Scooter</option>
                <option>Cycle</option>
                <option>Horse</option>
              </select>
          </form>
      </div>
    </div>
    <script>
        $('.select3').select3();
    </script>
    <!---End of dropdown list search box--->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
       <div class="container-fluid">
        <a class="navbar-brand" href="#"><span class="mb-0 h1">Navbar</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Brands</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Categories</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Product Types</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Colors</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Tags</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact Us</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">Disabled</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
       <div class="container-fluid">
        <a class="navbar-brand" href="#"><span class="mb-0 h1">Navbar</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Brands</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Categories</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Product Types</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Colors</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Tags</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact Us</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">Disabled</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>

    <title>Hello, world!</title>
  </head>
  <body>
    <h1>Hello, world!</h1>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>




<h1>Home#index</h1>

<li>
  <%= link_to 'brands', brands_path %>
</li>
<li>
  <%= link_to 'categories', categories_path %>
</li>
<li>
  <%= link_to 'product_types', product_types_path %>
</li>
<li>
  <%= link_to 'products', products_path %>
</li>
<li>
  <%= link_to 'colors', colors_path %>
</li>
<li>
  <%= link_to 'tags', tags_path %>
</li>
<li>
  <%= link_to 'About', abouts_path %>
</li>

<li>
  <%= link_to 'brands', brands_path %>
</li>
<li>
  <%= link_to 'categories', categories_path %>
</li>
<li>
  <%= link_to 'product_types', product_types_path %>
</li>
<li>
  <%= link_to 'products', products_path %>
</li>
<li>
  <%= link_to 'colors', colors_path %>
</li>
<li>
  <%= link_to 'tags', tags_path %>
</li>
<li>
  <%= link_to 'About', abouts_path %>
</li>

<li>
  <%= link_to 'brands', brands_path %>
</li>
<li>
  <%= link_to 'categories', categories_path %>
</li>
<li>
  <%= link_to 'product_types', product_types_path %>
</li>
<li>
  <%= link_to 'products', products_path %>
</li>
<li>
  <%= link_to 'colors', colors_path %>
</li>
<li>
  <%= link_to 'tags', tags_path %>
</li>
<li>
  <%= link_to 'About', abouts_path %>
</li>

<li>
  <%= link_to 'brands', brands_path %>
</li>
<li>
  <%= link_to 'categories', categories_path %>
</li>
<li>
  <%= link_to 'product_types', product_types_path %>
</li>
<li>
  <%= link_to 'products', products_path %>
</li>
<li>
  <%= link_to 'colors', colors_path %>
</li>
<li>
  <%= link_to 'tags', tags_path %>
</li>
<li>
  <%= link_to 'About', abouts_path %>
</li>