<div class="container-fluid table-responsive">
  <div class="row flex-nowrap">
    <!-- Sidebar -->
    <%= render partial: 'layouts/components/sidebar' %>

    <!-- Customer profile -->
    <div class="container mt-3">
      <% if flash[:customer] %>
        <h6 class="p-3 mb-4 bg-info text-white"><%= flash[:customer] %></h6>
      <% end %>
      <h2 class="mb-4">Profile</h2>
      <div class="align-items-center justify-content-center">
        <p class="mb-4">
          <strong>User Login: <%= current_customer.email %></strong>
        </p>
        <%= form_with url: customers_update_path, method: :put, remote: true do |form| %>
          <!-- First Name input -->
          <div class="form-outline mb-4">
            <%= form.label :first_name, 'First Name' %>
            <%= form.text_field :first_name, value: current_customer.first_name, required: true, class: "form-control", style: "width: 470px;" %>
          </div>

          <!-- Password input -->
          <div class="form-outline mb-4">
            <%= form.label :last_name, 'Last Name' %>
            <%= form.text_field :last_name, value: current_customer.last_name, required: true, class: "form-control", style: "width: 470px;" %>
          </div>

          <!-- Address input -->
          <div class="form-outline mb-4">
            <%= form.label :address %>
            <%= form.text_field :address, value: current_customer.address, required: true, class: "form-control", style: "width: 470px;" %>
          </div>

          <!-- City input -->
          <div class="form-outline mb-4">
            <%= form.label :city %>
            <%= form.text_field :city, value: current_customer.city, required: true, class: "form-control", style: "width: 470px;" %>
          </div>

          <!-- Postal Code input -->
          <div class="form-outline mb-4">
            <%= form.label :postal_code, 'Postal Code' %>
            <%= form.text_field :postal_code, value: current_customer.postal_code, required: true, class: "form-control", style: "width: 470px;" %>
          </div>

          <!-- Province input -->
          <div class="form-outline mb-4">
            <%= form.label :province_id, 'Province' %>
            <%= form.collection_select :province_id, Province.all, :id, :name, { include_blank: 'Select Province', selected: current_customer.province_id }, { class: 'form-control', style: 'width: 470px;' } %>
          </div>

          <!-- Submit button -->
          <div class="actions">
            <%= form.button 'Update', type: 'submit', class: "btn btn-primary btn-block mb-4", style: "width: 470px;" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>