<h1>Customers#index</h1>
<p>Find me in app/views/customers/index.html.erb</p>

<%= form_with url: customers_update_path, method: :put, remote: true do |form| %>
  <div>
    <%= form.label :first_name, 'First Name' %>
    <%= form.text_field :first_name, value: current_customer.first_name, required: true %>
  </div>

    <div>
    <%= form.label :last_name, 'Last Name' %>
    <%= form.text_field :last_name, value: current_customer.last_name, required: true %>
  </div>
    <%= form.button 'Update', type: 'submit', class: "btn btn-outline-info" %>
<% end %>