<div class="container mt-5">
  <% if flash[:notice] %>
    <h6 class="p-3 mb-2 bg-info text-white"><%= flash[:notice] %></h6>
  <% end %>
  <% if cart.present? %>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Rating</th>
          <th></th>
          <th>Image</th>
          <th style="width: 55%">Product Name</th>
          <th>CA$</th>
          <th style="width: 10%">Quantity</th>
        </tr>
      </thead>
      <tbody>
        <% cart.each do |product| %>
          <tr>
            <td>
              <%= product.rating %>
            </td>
            <td>
              <%= render partial: 'layouts/components/ratingstar', locals: { product: product } %>
            </td>
            <td>
              <%= link_to(image_tag(product.image_link, alt: product.name, width: "60"), product) %>
            </td>
            <td>
              <%= link_to product.name, product %>
            </td>
            <td>
              <%= product.price.to_f / 10 %>
            </td>
            <td>
              <%= form_with url:cart_path(product), method: :patch do |form| %>
                <!--pass product id and selected quantity to shopping cart-->
                <%= form.number_field(:quantity, value: session[:shopping_cart][product.id.to_s], min: 1, style: "width: 60px;") %>
                <%= form.submit 'Update' %>
              <% end %>
              <%= button_to "Remove", cart_path(product), method: :delete %>
            </td>
          </tr>
        <% end %>
      </tbody>
    <table>
  <% else %>
    <p>Your shopping cart is empty.</p>
  <% end %>
</div>