<div class="container mt-5">
  <% if flash[:cart] %>
    <h6 class="p-3 mb-2 bg-info text-white"><%= flash[:cart] %></h6>
  <% end %>
  <% if cart.present? %>
    <table class="table table-responsive table-hover">
      <thead>
        <tr>
          <th class="col-3">Image</th>
          <th class="col-8">Product Name</th>
          <th class="col-3">CA$</th>
          <th class="col-2">Quantity</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% cart.each do |product| %>
          <tr>
            <td class="col-3">
              <%= link_to(image_tag(product.image_link, alt: product.name, width: "60"), product) %>
            </td>
            <td class="col-8">
              <%= link_to product.name, product %>
            </td>
            <td class="col-3">
              <%= product.price.to_f / 100 %>
            </td>
            <td class="col-2">
              <%= form_with url:cart_path(product), method: :patch do |form| %>
              <div class="d-flex align-items-center">
                <!--pass product id and selected quantity to shopping cart-->
                <%= form.number_field(:quantity, value: session[:shopping_cart][product.id.to_s], min: 1, class: "form-control", style: "width: 80px;") %>
                <%= form.submit 'Update', class: "btn btn-outline-secondary ml-4" %>
              </div>
              <% end %>
            </td>
            <td>
              <%= button_to "Remove", cart_path(product), method: :delete, class: "btn btn-outline-secondary" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    <table>
    <%= form_with url: checkout_create_path, remote: true do |form| %>
      <%= form.button 'Checkout 💳', type: 'submit', class: "btn btn-outline-info" %>
    <% end %>
  <% else %>
    <p class="h4">Your shopping cart is empty.</p>
  <% end %>
</div>