<div class="container mt-5">
  <% if cart.present? %>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Rating</th>
          <th></th>
          <th>Image</th>
          <th>Product Name</th>
          <th>Price CA$</th>
          <th>Quantity</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% cart.each do |product| %>
          <tr>
            <td>
              <%= product.rating %>
            </td>
            <td>
              <%= render partial: 'layouts/components/ratingstar', locals: { product: product } %>
            </td>
            <td>
              <%= link_to(image_tag(product.image_link, alt: product.name, width: "60"), product) %>
            </td>
            <td>
              <%= link_to product.name, product %>
            </td>
            <td>
              <%= product.price.to_f / 10 %>
            </td>
            <td>
              <%= form_with url:carts_path, method: :post do |form| %>
                <!--pass product id and selected quantity to shopping cart-->
                <%= hidden_field_tag(:id, product.id)%>
                <%= form.number_field(:quantity, value: session[:shopping_cart][product.id.to_s]) %>
              <% end %>
            </td>
            <td>
              <%= button_to "Remove", cart_path(product), method: :delete %>
            </td>
          </tr>
        <% end %>
      </tbody>
    <table>
  <% else %>
    <p>Your shopping cart is empty.</p>
  <% end %>
</div>