<div class="container mt-3" id="colors">
  <h1>Colors</h1>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Color Name</th>
        <th>Products in Color</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @colors.each do |color| %>
        <tr>
          <td>
            <%= color.color_name %>
          </td>
          <td>
            <%= color.products.count %>
          </td>
          <td>
            <%= link_to "Show Products", color, class: "btn btn-outline-primary" %>
          </td>
          <td>
            <%= link_to "Edit", edit_color_path(color), class: "btn btn-outline-success" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to "New color", new_color_path, class: "btn btn-outline-primary" %>
</div>

