<header>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" id="bootstrap-css integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

  <!-- Dropdox List Bootstrap CSS -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <!-- End of Dropdox List Bootstrap CSS -->

  <nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbar1">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <!-- Language Dropdown List-->
        <a class="nav-link dropdown-toggle fs-5 mr-3" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Language
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">English</a>
          <a class="dropdown-item" href="#">Traditional Chinese</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
        <!-- End of Language Dropdown List-->
      <li class="nav-item">
        <a class="nav-link fs-5 mr-3" href="#">Contact Us</a>
      </li>
      </li>
    </ul>

    <%= link_to 'RRC Cosme', root_path, class: 'nav-link mb-0 font-weight-bold display-4 mr-3', style: 'font-family: arail, sans-serif;' %>

    <form class="form-inline my-2 my-lg-0">
      <!-- Category Dropdown List for Search -->
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <select class="form-select mr-sm-2 border-2" style="width: 200px;" aria-label="List">
        <option selected>All</option>
        <% Category.all.order(:category_name).each do |category| %>
          <option value="<%= category.id %>">
            <%= category.category_name %>
          </option>
        <% end %>
      </select>
      <!-- End of Category Dropdown List for Search -->
      <button class="btn btn-outline-primary mr-2 my-2 my-sm-0" type="submit">Search</button>
      <a href="#">
      <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-person ml-4" viewBox="0 0 16 16">
        <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z"/>
      </svg>
      </a>
      <a href="#">
      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-bag-heart ml-4" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5v-.5Zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0ZM14 14V5H2v9a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1ZM8 7.993c1.664-1.711 5.825 1.283 0 5.132-5.825-3.85-1.664-6.843 0-5.132Z"/>
      </svg>
      </a>
    </form>
  </nav>

  <nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbar2">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item active">
            <%= link_to 'Home', root_path, class: 'nav-link fs-5 mr-3' %><span class="sr-only">(current)</span>
          </li>
          <li class="nav-item">
            <%= link_to 'Brand', brands_path, class: 'nav-link fs-5 mr-3' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Category', categories_path, class: 'nav-link fs-5 mr-3' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Product Type', product_types_path, class: 'nav-link fs-5 mr-3' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Product', products_path, class: 'nav-link fs-5 mr-3' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Color', colors_path, class: 'nav-link fs-5 mr-3' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Tag', tags_path, class: 'nav-link fs-5 mr-3' %>
          </li>
          <li class="nav-item">
            <%= link_to 'About', abouts_path, class: 'nav-link fs-5 mr-3' %>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>