<tr>
  <td>
    <%= product.rating %>
  </td>
  <td>
    <%= render partial: 'layouts/components/ratingstar', locals: { product: product } %>
  </td>
  <td>
    <%= link_to(image_tag(product.image_link, alt: product.product_name, width: "60"), product) %>
  </td>
  <td>
    <%= link_to product.product_name, product %>
  </td>
  <td>
    <%= product.price.to_f / 10 %>
  </td>
</tr>