<div class="container mt-3" id="brands">
  <h1>Brands</h1>
  <% unless (paginate @brands).present? %>
    <br><br>
  <% end %>
  <div class="d-flex justify-content-end">
    <%= paginate @brands %>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th style="width: 30%">Brand Name</th>
        <th>Products in Brand</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @brands.each do |brand| %>
        <tr>
          <td>
            <%= brand.name %>
          </td>
          <td>
            <%= brand.products.count %>
          </td>
          <td>
            <%= link_to "Show Products", brand, class: "btn btn-outline-primary" %>
          </td>
          <td>
            <%= link_to "Edit", edit_brand_path(brand), class: "btn btn-outline-success" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to "New brand", new_brand_path, class: "btn btn-outline-primary" %>
</div>

