<div class="container mt-3" id="<%= dom_id product %>">
  <p class="h2">
    <!--<strong>Product name:</strong>-->
    <%= product.product_name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= product.description %>
  </p>

  <p>
    <strong>Price CA$:</strong>
    <%= product.price %>
  </p>

  <p>
    <strong>Image:</strong>
  </p>
  <p>
    <%= link_to(image_tag(product.image_link, alt: product.product_name), product) %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= product.rating %>
    <% rating = product.rating %>
    <% (1..5).each do |i| %>
      <!-- Full star for rated value -->
      <% if i <= rating %>
        <i class="fas fa-star" style="color: #f7d702;"></i>
      <!-- Half star for decimal value -->
      <% elsif i - 0.5 <= rating %>
        <i class="fas fa-star-half-alt" style="color: #f7d702;"></i>
      <!-- Empty star for unrated value -->
      <% else %>
        <i class="far fa-star" style="color: #f7d702;"></i>
      <% end %>
    <% end %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= link_to product.category.category_name, product.category %>
  </p>

  <p>
    <strong>Brand:</strong>
    <%= link_to product.brand.brand_name, product.brand %>
  </p>

  <p>
    <strong>Product type:</strong>
    <%= link_to product.product_type.product_type_name, product.product_type %>
  </p>

  <p>
    <strong>Tags:</strong>
    <% product.tags.each do |tag| %>
      <%= link_to tag.tag_name, tag, class: "badge bg-secondary text-light text-decoration-none" %>
    <% end %>
  </p>

  <p>
    <strong>Colors:</strong>
    <% product.colors.each do |color| %>
      <%= link_to color.color_name, color, class: "badge bg-info text-light text-decoration-none" %>
    <% end %>
  </p>
</div>
