<div class="container mt-3" id="<%= dom_id product %>">
  <div class="text-left">
    <p class="h2">
      <%= product.product_name %>
    </p>
  </div>
  <div class="row mt-5 fs-5">
    <div class="col-md-7">
      <p>
        <div class="text-center">
          <%= link_to(image_tag(product.image_link, alt: product.product_name, width: '300'), product) %>
        </div>
      </p>
    </div>
    <div class="col-md-5 mt-4">
      <p>
        <strong>Price CA$:</strong>
        <%= product.price %>
      </p>

      <p>
        <strong>Rating:</strong>
        <%= render partial: 'layouts/components/ratingstar', locals: { product: product } %>
      </p>

      <p>
        <strong>Category:</strong>
        <%= link_to product.category.category_name, product.category %>
      </p>

      <p>
        <strong>Brand:</strong>
        <%= link_to product.brand.brand_name, product.brand %>
      </p>

      <p>
        <strong>Product type:</strong>
        <%= link_to product.product_type.product_type_name, product.product_type %>
      </p>

      <p>
        <strong>Tags:</strong>
        <% product.tags.each do |tag| %>
          <%= link_to tag.tag_name, tag, class: "badge bg-secondary text-light text-decoration-none" %>
        <% end %>
      </p>

      <p>
        <strong>Colors:</strong>
        <% product.colors.each do |color| %>
          <%= link_to color.color_name, color, class: "badge bg-info text-light text-decoration-none" %>
        <% end %>
      </p>
    </div>
  </div>
</div>