<div class="container mt-5">
  <p class="fs-4 mb-5">
    🔎 "<strong><%= @products.count %></strong>" <%= "product".pluralize(@products.count) %> found
    <% if params[:dropdown][:selected_category].present? %>
      in "<strong><%= @products.first.category.name %></strong>" category
    <% else %>
      in "<strong>All</strong>" categories
    <% end %>
    <% if params[:keywords] .present? %>
      for your keyword "<strong><%= params[:keywords] %></strong>"
    <% end %>
  </p>
  <table class="table table-hover">
    <%= render partial: 'layouts/components/theadproduct' %>
    <tbody>
      <%= render partial: 'layouts/components/tbodyproduct', collection: @products.order("rating DESC, name"), as: :product %>
    </tbody>
  </table>
</div>